<div class="container userlist clearfix">
	<div class="toolbar_detail">
		<h3>Fornitore:</h3>
		<div class="buttonmenu savebutton admin" ng-click="saveSupplier()">
			<div class="save buttonicon">
			</div>
			<div class="buttonlabel">
				Salva [Alt + Q]
			</div>
		</div>
		<div class="buttonmenu redobutton "  ng-click="mainList('/supplier')" >
			<div class="redo buttonicon">
			</div>
			<div class="buttonlabel">
				Elenco [Alt + E]
			</div>
		</div>
		<div class="buttonmenu redobutton ">
			<div class="redo buttonicon">
			</div>
			<div class="buttonlabel">
				Ricarica
			</div>
		</div>
		
	</div>
	<div class="details">
		<div class="generaltable">
			<div class="supplier_main_detail">	
				<div class="info">
					<div class="fields code">
						<div class="GECO_label ">Codice *</div>
						<div class="field "><input maxlength="15" class="inputfield" id="ifname" ng-model="supplier.suppliercode" value="{{supplier.suppliercode}}" capitalize /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields name">
						<div class="GECO_label ">Ragione Sociale *</div>
						<div class="field "><input class="inputfield"  maxlength="150" id="ifname" ng-model="supplier.suppliername" value="{{supplier.suppliername}}" capitalize /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields code">
						<div class="GECO_label ">Codice Fiscale *</div>
						<div class="field "><input class="inputfield" maxlength="16"  id="ifname" ng-model="supplier.taxcode" value="{{supplier.taxcode}}"  capitalize  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields code">
						<div class="GECO_label ">Partita Iva *</div>
						<div class="field "><input class="inputfield" id="ifname" maxlength="11"  ng-model="supplier.serialnumber" value="{{supplier.serialnumber}}"  capitalize  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="fields code">
						<div class="GECO_label ">Attivo</div>
						<div class="field "><input class="inputfield" type="checkbox" id="ifname" ng-model="supplier.active" value="{{supplier.active}}"  /></div>
						<div class="error" id="val_ifname" >Campo obbligatorio</div> 
					</div>
					<div class="category_group">
						<div class="fields code">
							<div class="GECO_label ">Gruppo </div>
							<div class="field">
								<select id="selgroup" class="inputfield" ng-model="currentGroup"    ng-options="group as group.name for group in groups" ></select>
							</div>
						</div>
						<div class="fields code">
							<div class="GECO_label ">Categoria</div>
							<div class="field ">
								<select id="selcategory" class="inputfield" ng-model="currentCategory"    ng-options="category as category.name for category in categorys" ng-change="changeCategory()" ></select>
							</div>
						</div>
						<div class="fields code">
							<div class="GECO_label ">Pagamento</div>
							<div class="field ">
								<select id="selpayment" class="inputfield" ng-model="currentPayment"    ng-options="payment as getLabel(payment) for payment in payments" ng-change="supplier.payment = currentPayment" ></select>
							</div>
						</div>
					</div>	
				</div>
			</div>
			
		</div>
		<div class="generaltable" ng-if="selectedSection == listsections[0]">
			<div class="supplier_address_detail">	
				<div class="contact">
					<div class="fields address">
						<div class="GECO_label">Indirizzo</div>
						<div class="field address"><input class="inputfield" maxlength="150"  ng-model="supplier.address.address" value="{{supplier.address.address}}" capitalize /></div>
						<div class="field number"><input class="inputfield" maxlength="10"  ng-model="supplier.address.number" value="{{supplier.address.number}}" capitalize /></div>
					</div>
					<div class="fields seventy">
						<div class="GECO_label mobile">Citt&#224;</div>
						<div class="field mobile"><input class="inputfield" maxlength="45"  ng-model="supplier.address.city" value="{{supplier.address.city}}" capitalize /></div>
					</div>
					<div class="fields tenth">
						<div class="GECO_label email">Provincia</div>
						<div class="field email"><input id="ifemail" class="inputfield" maxlength="2"  ng-model="supplier.address.zone" value="{{supplier.address.zone}}" capitalize /></div>
					</div>
					<div class="fields fifteen_right">
						<div class="GECO_label email">CAP</div>
						<div class="field email"><input id="ifemail" class="inputfield" maxlength="6"  ng-model="supplier.address.zipcode" value="{{supplier.address.zipcode}}" capitalize /></div>
					</div>
				</div>
			</div>
		</div>
		<div class="credentials" ng-if="selectedSection == listsections[0]">
			<div class="credential">
				<div class="fields one_on_three_left">
					<div class="GECO_label phone">Telefono 1</div>
					<div class="field phone"><input class="inputfield" maxlength="20"  ng-model="supplier.contact.phone1" value="{{supplier.contact.phone1}}"  capitalize /></div>
				</div>
				<div class="fields one_on_three_left">
					<div class="GECO_label phone">Telefono 2</div>
					<div class="field phone"><input class="inputfield" maxlength="20"  ng-model="supplier.contact.phone2" value="{{supplier.contact.phone2}}" capitalize  /></div>
				</div>
				<div class="fields one_on_three_right">
						<div class="GECO_label email">Fax</div>
						<div class="field email"><input id="ifemail" maxlength="20" class="inputfield" ng-model="supplier.contact.fax" value="{{supplier.contact.fax}}"  capitalize /></div>
					</div>
			</div>
			<div class="credential">
				<div class="fields one_on_three_left">
						<div class="GECO_label mobile">Cellulare 1</div>
						<div class="field mobile"><input class="inputfield" maxlength="20" ng-model="supplier.contact.mobile1" value="{{supplier.contact.mobile1}}" capitalize  /></div>
					</div>
				<div class="fields one_on_three_left">
						<div class="GECO_label mobile">Cellulare 2</div>
						<div class="field mobile"><input class="inputfield" maxlength="20" ng-model="supplier.contact.mobile2" value="{{supplier.contact.mobile2}}" capitalize  /></div>
					</div>
				<div class="fields one_on_three_right">
					<div class="GECO_label email">Contatto</div>
					<div class="field email"><input id="ifemail" class="inputfield" maxlength="45" ng-model="supplier.contact.reference" value="{{supplier.contact.reference}}"  capitalize /></div>
				</div>
			</div>
			<div class="credential">
				<div class="fields">
						<div class="GECO_label email">Email 1</div>
						<div class="field email"><input id="ifemail" class="inputfield" maxlength="45" ng-model="supplier.contact.email1" value="{{supplier.contact.email1}}" /></div>
					</div>
				<div class="fields right">
						<div class="GECO_label email">Email 2</div>
						<div class="field email"><input id="ifemail" class="inputfield"  maxlength="45" ng-model="supplier.contact.email2" value="{{supplier.contact.email2}}" /></div>
					</div>
			</div>
		</div>
		<div class="credentials" ng-if="selectedSection == listsections[1]">
			<div class="credential">
				<div class="detailview"  >
						<div class="add_container" ng-click="addListElement(supplier)">
							<div class="addlabel">
								Aggiungi Listino 
							</div>
							<div class="add buttonicon">
							</div>
						</div>
						<div class="tabledetail">
							<div class="tabledetail_content supplier_lists">
								<div class="tabledetail_header">
									<div class="tabledetail_header_element tabledetail_row first">Codice</div>
									<div class="tabledetail_header_element tabledetail_row ">Descrizione</div>
									<div class="tabledetail_header_element tabledetail_row ">Data Validità</div>
									<div class="tabledetail_header_element tabledetail_row modify">&nbsp;</div>
									<div class="tabledetail_header_element tabledetail_row delete">&nbsp;</div>
								</div>
								<div class="tabledetail_rows indetail" ng-repeat="list in supplier.lists | orderBy:orderYear" >
									<div class="tabledetail_row first">
										<div ng-if="listid != list.idListSupplier ">&nbsp;{{list.list.code}}</div>
										<div><select ng-if="listid == list.idListSupplier" id="selcounter" class="inputfield" ng-model="currentList"    ng-options="list as getListName(list)  for list in lists" ng-change="list.list = currentList" ></select></div>
									</div>
									
									<a ng-click="changeListElement(list)" ><div class="tabledetail_row modify"><div class="modifyicon"></div></div></a>
									<div class="tabledetail_row delete"><div class="deleteicon" id="del{{supplier.idSupplier}}" ng-click="deleteElement(supplier.idSupplier)"></div></div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>	
		
	</div>
</div>