<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			DOCUMENTO:
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control" ng-click="saveHead()" >Salva [Alt+Q]</button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control"  >Ricarica [Alt+R] </button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control" ng-click="openNewDocument()" >Nuovo [Alt+J]</button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control" ng-click="printElements()" >Stampa </button>
		</div>
		<div class="col-md-2">
			<select ng-model="selectedSection"    ng-options="section for section in listsections" >
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12"></div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<form role="form">
				<div class="form-group">
					<label>Tipologia</label>
					<select id="selgroup" class="form-control" ng-model="currentDocument"    ng-options="document as getLabel(document) for document in documents" ng-change="head.document = currentDocument;calculateNumber();setModified()" ng-data-provider="documents"   ><option value=""></option></select>
				</div>
			</form>
			
		</div>
		<div class="col-md-3">
			<form role="form">
				<div class="form-group">
					<label>Data *</label>
					<input class="form-control datepicker" type="text" id="startDate" ng-model="head.date" value="{{head.date}}" ng-change="calculateNumber();setModified()" create-datepicker ng-blur="formatYear()" />
				</div>
			</form>
			
		</div>
		<div class="col-md-3">
			<form role="form">
				<div class="form-group">
					<label>Numero</label>
					<input class="form-control" id="ifname" ng-model="head.number" value="{{head.number}}" ng-change="setModified()"  />
				</div>
			</form>
			
		</div>
		<div class="col-md-3">
			<form role="form">
				<div class="form-group">
					<label>Protocollo</label>
					<input class="form-control"  ng-model="head.serialnumber" value="{{head.serialnumber}}"   />
				</div>
			</form>
			
		</div>
	</div>
	<div class="row"  ng-show="selectedSection == listsections[0]">
		<div class="col-lg-4" ng-show="currentDocument.customer == true">
			<form role="form">
				<div class="form-group">
					<label>Cliente</label>
					<select id="selcliente" class="form-control" ng-model="currentCustomer"    ng-options="customer as customer.customername for customer in customers" ng-change="head.customer = currentCustomer;changeCustomer(currentCustomer.idCustomer);setModified()"  ng-data-provider="customers"    ><option value=""></option></select>
				</div>
			</form>
		</div>
		<div class="col-lg-4" ng-show="currentDocument.customer == true">
			<form role="form">
				<div class="form-group">
					<label>Destinazione</label>
					<select id="seldestination" class="form-control" ng-model="currentDestination"    ng-options="destination as destination.destinationname for destination in destinations" ng-change="head.destination = currentDestination;setModified();changeDestination();"  ng-data-provider="destinations"  ><option value=""></option></select>
				</div>
			</form>
		</div>
		<div class="col-lg-4" ng-show="currentDocument.supplier == true">
			<form role="form">
				<div class="form-group">
					<label>Fornitore</label>
					<select id="selsupplier" class="form-control" ng-model="currentSupplier"    ng-options="supplier as supplier.suppliername for supplier in suppliers"  ng-change="head.supplier = currentSupplier;changeSupplier();setModified()"   ng-data-provider="suppliers" ><option value=""></option></select>
				</div>
			</form>
		</div>
		
	
	</div>
	<div class="row"  ng-show="selectedSection == listsections[0]">
		<div class="col-lg-4" >
			<form role="form">
				<div class="form-group">
					<label>Listino</label>
					<select id="sellist" class="form-control" ng-model="currentList"    ng-options="list as list.code for list in lists"  ng-change="head.list = currentList;setModified()"  ng-data-provider="lists"    ></select>
				</div>
			</form>
		</div>
		<div class="col-lg-4" >
			<form role="form">
				<div class="form-group">
					<label>Vettore</label>
					<select id="selvettore" class="form-control" ng-model="currentTransporter"    ng-options="transporter as transporter.transportersurname for transporter in transporters"  ng-change="head.transporter = currentTransporter;setModified()"  ng-data-provider="transporters"     ></select>
				</div>
			</form>
		</div>
		<div class="col-lg-4" >
			<form role="form">
				<div class="form-group">
					<label>Pagamento</label>
					<select id="selpayment" class="form-control" ng-model="currentPayment"    ng-options="payment as payment.code for payment in payments"  ng-change="head.payment = currentPayment;setModified()"  ng-data-provider="payments"    ></select>
				</div>
			</form>
		</div>
		
	</div>
	<div class="row" ng-show="selectedSection == listsections[1]">
		<div class="col-lg-3">
			<button type="button" class="btn btn-primary form-control" ng-click="addRowElement();setModified()">Aggiungi Prodotto [Alt+n]</button>
			
		</div>
	</div>
	<div class="row" ng-if="selectedSection == listsections[1] && isLoadSerialN == true">
		<div class="col-lg-12">
			<form role="form">
				<div class="form-group">
					<label>Lotto:</label>
					<input id="forceserial" />
				</div>
				<div class="form-group">
					<label>Scadenza:</label>
					<input id="forceexpiredate" create-datepicker />
					<button ng-click="forceSerialNumbers()">Inserisci lotti generici</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row" ng-if="selectedSection == listsections[1] && isUnloadSerialN == true">
		<div class="col-lg-12">
			<button  type="button" class="btn btn-primary form-control"  ng-click="forceLoadSerialNumbers()">Inserisci lotti disponibili</button>
		</div>
	</div>
	<div class="row" ng-show="selectedSection == listsections[1]">
		<div class="col-lg-12">
			<table class="table table-striped" st-table="rowsToDisplay" st-safe-src="head.rows" ng-if="isOrder == false && isLoadSerialN == false && isUnloadSerialN == false">
				<thead>
					<tr>
						<th >&nbsp;</th>
						<th st-sort="productcode" st-sort-default="anything" st-skip-natural="true" >Codice</th>
						<th st-sort="productdescription" st-sort-default="anything" st-skip-natural="true">Descrizione</th>
						<th  >UM</th>
						<th >Qta</th>
						<th >Prezzo</th>
						<th >Imponibile</th>
						<th >Imposta</th>
						<th>Totale</th>
						<th >&nbsp;</th>
					</tr>
				</thead>
				<tbody  >
					<tr ng-repeat="row in rowsToDisplay">
						<td><div class=" modify" ng-click="setCurrentRow(row)"><div class="modifyicon"></div></div></td>
						<td  >&nbsp;{{row.productcode}}</td>
						<td  >&nbsp;{{row.productdescription}}</td>
						<td >&nbsp;{{row.productum}}</td>
						<td ><div class="contain_input_td"><input type="text" class="inputfield" value="{{row.quantity}}" ng-model="row.quantity"  ng-change="calculateRow(row);setModified()" /></div></td>
						<td >&nbsp;{{row.price}}</td>
						<td >&nbsp;{{row.amount}}</td>
						<td >&nbsp;{{row.taxamount}}</td>
						<td>&nbsp;{{row.total}}</td>
						<td ><div class=" delete confirm" ng-click="confirmDelete(row)" ><div class="deleteicon"></div></div></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-striped" ng-if="isOrder == true" st-table="rowsToDisplay" st-safe-src="head.rows">
				<thead>
					<tr>
						<th >&nbsp;</th>
						<th >Fornitore</th>
						<th st-sort="productcode" st-sort-default="anything" st-skip-natural="true" >Codice</th>
						<th st-sort="productdescription" st-sort-default="anything" st-skip-natural="true">Descrizione</th>
						<th >UM</th>
						<th >Qta</th>
						<th >Prezzo</th>
						<th >Imponibile</th>
						<th>Imposta</th>
						<th >Totale</th>
						
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody  >
					<tr ng-repeat="row in rowsToDisplay ">
						<td ><div class=" modify" ng-click="setCurrentRow(row)"><div class="modifyicon"></div></div></td>
						<td  >&nbsp;{{row.product.supplier.suppliername}}</td>
						<td >&nbsp;{{row.productcode}}</td>
						<td  >&nbsp;{{row.productdescription}}</td>
						<td >&nbsp;{{row.productum}}</td>
						<td ><div class="contain_input_td"><input type="text" class="inputfield" value="{{row.quantity}}" ng-model="row.quantity"  ng-change="calculateRow(row);setModified()" /></div></td>
						<td>&nbsp;{{row.price}}</td>
						<td >&nbsp;{{row.amount}}</td>
						<td >&nbsp;{{row.taxamount}}</td>
						<td >&nbsp;{{row.total}}</td>
						
						<td ><div class=" delete confirm" ng-click="confirmDelete(row)" ><div class="deleteicon"></div></div></td>
					</tr>
				</tbody>
			</table>
							
			<table class="table table-striped"  ng-if="isLoadSerialN == true || isUnloadSerialN == true" st-table="rowsToDisplay" st-safe-src="head.rows">
				<thead>
					<tr>
						<th >&nbsp;</th>
						<th>Codice</th>
						<th >Descrizione</th>
						<th >Lotto</th>
						<th >Scadenza</th>
						<th>UM</th>
						<th >Qta</th>
						<th >Prezzo</th>
						<th >Imponibile</th>
						<th >Imposta</th>
						<th >Totale</th>
						<th >&nbsp;</th>
					</tr>
				</thead>
				<tbody  >
					<tr ng-repeat="row in rowsToDisplay">
						<td ><div class=" modify" ng-click="setCurrentRow(row)"><div class="modifyicon"></div></div></td>
						<td  ng-if="row.product.manageserialnumber == true && (row.serialnumber == '' || row.expiredate == '')  " >!!!!!{{row.productcode}}</td>
						<td  ng-if="row.product.manageserialnumber == false || (row.product.manageserialnumber == true && row.serialnumber != '' && row.expiredate != '')  " >{{row.productcode}}</td>
						<td  >&nbsp;{{row.productdescription}}</td>
						<td ><div class="contain_input_td"><input type="text"  class="inputfield" ng-model="row.serialnumber" value="{{row.serialnumber}}" ng-change="setModified()" /></div></td>
						<td ><div class="contain_input_td"><input type="text" class="inputfield"  ng-model="row.expiredate" value="{{row.expiredate}}" create-datepicker ng-change="setModified()" /></div></td>
						<td >&nbsp;{{row.productum}}</td>
						<td><div class="contain_input_td"><input type="text" class="inputfield" value="{{row.quantity}}" ng-model="row.quantity"  ng-change="calculateRow(row);setModified()" /></div></td>
						<td >&nbsp;{{row.price}}</td>
						<td>&nbsp;{{row.amount}}</td>
						<td >&nbsp;{{row.taxamount}}</td>
						<td >&nbsp;{{row.total}}</td>
						<td ><div class=" delete confirm" ng-click="confirmDelete(row)" ><div class="deleteicon"></div></div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>
<div class="container-fluid HEAD_addrow" ng-show="currentRow != null && showNewRow == true">
	<div class="row" >
		<div class="col-lg-1 col-lg-offset-11">
			<button ng-click="showNewRow = false">X</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<form role="form">
				<div class="form-group">
					<label>Codice [Alt + v per cercare]*</label>
					<input tabindex="0"   class="form-control" id="prod_code" ng-model="currentRow.productcode" value="{{currentRow.productcode}}" ng-blur="getProduct(currentRow.productcode)" ng-change="setModified()" capitalize />
				</div>
			</form>
		</div>
		<div class="col-lg-8">
			<form role="form">
				<div class="form-group">
					<label>Descrizione *</label>
					<input class="form-control"   id="ifname" ng-model="currentRow.productdescription" value="{{currentRow.productdescription}}"  ng-change="setModified()" capitalize />
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2" ng-show="show_qta">
			<form role="form">
				<div class="form-group">
					<label>Giacenza</label>
					<div class="form-control">&nbsp;{{currentRow.product.stockqta}} {{currentRow.productum}}</div>
				</div>
			</form>
		</div>
		<div class="col-lg-1" ng-show="currentRow.product != null">
			<div class=" " ng-show="show_qta == false" ng-click="show_qta = !show_qta" ><div class="storeicon open"></div></div>
			<div class=" " ng-show="show_qta == true" ng-click="show_qta = !show_qta" ><div class="storeicon close"></div></div>
		</div>
		<div class="col-lg-2">
			<form role="form">
				<div class="form-group">
					<label>Quantit&#224; </label>
					<input type="text"  class="inputfield" id="qta" ng-model="currentRow.quantity" value="{{currentRow.quantity}}" ng-change="calculateRow(currentRow,$event)" ng-keydown="addNewRowFromQuantity($event)" />
				</div>
			</form>	
		</div>
		<div class="col-lg-1">
			<form role="form">
				<div class="form-group">
					<label>UM *</label>
					<div class="form-control">{{currentRow.productum}}</div>
				</div>
			</form>	
		</div>
		<div class="col-lg-1">
			<div class=" " ng-show="currentRow.product != null" ng-click="show_price = !show_price" ><div class="detailicon open"></div></div>
			<div class="HEAD_overlay " ng-show="show_price">
				<table class="GECO_table two_two clearfix">
					<thead>
						<tr >
							<td class="header_table row_table first" >Data</td>
							<td class="header_table row_table">Prezzo</td>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="history in currentRow.product.pricehistory ">
							<td class="row_table first">{{history.date}}</td>
							<td class="row_table"> {{history.price}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>								
		<div class="col-lg-2" >
			<form role="form">
				<div class="form-group">
					<label>Prezzo * </label>
					<input  type="text" step="0.001" min="0"  class="form-control" id="ifname" ng-model="currentRow.price" value="{{currentRow.price}}"  ng-change="calculateRow();setModified()"  />
				</div>
			</form>
		</div>	
		<div class="col-lg-2" >
			<form role="form">
				<div class="form-group">
					<label>Aliquota * </label>
					<div class="form-control ">{{currentRow.taxrate.value}}</div>
				</div>
			</form>
		</div>						
		<div class="col-lg-1" >
			<form role="form">
				<div class="form-group">
					<label>Causale *</label>
					<select ng-model="currentRow.type" value="{{currentRow.type}}"  ng-change="calculateRow();setModified()"  ><option>V</option><option>S</option><option>O</option> </select>
				</div>
			</form>
		</div>									
	</div>
</div>
<div class="container userlist "   >
	
	<div id="dialog"  class="HEAD_dialog_box " ng-show="showSearch == true">
		<div class="HEAD_dialog_box_content ui-dialog" >
			<div>
				<div>
					<input id="search_field" ng-model="search" value="{{search}}"></input>
					<button ng-click="searchProd()">Cerca</button>
					<button ng-click="addNewProduct()">Aggiungi Prodotto</button>
					<button ng-click="showSearch = false">Chiudi</button>
				</div>
			</div>
		<div class="HEAD_dialog_prod_container">
			<table class="GECO_table_detail clearfix three_two ">
								<thead  >
									<tr>
										<td class="tabledetail_header_element tabledetail_row row_table threequarter first">Codice</td>
										<td class="tabledetail_header_element tabledetail_row row_table double">Descrizione</td>
										<td class="tabledetail_header_element tabledetail_row row_table ">UM</td>
										<td class="tabledetail_header_element tabledetail_row row_table half ">&nbsp;</td>
										
									</tr>
								</thead>
								<tbody  >
									<tr ng-repeat="prod in prodFound | orderBy:orderYear">
										<td class="row_table threequarter first ">&nbsp;{{prod.code}}</td>
										<td class="row_table  double">&nbsp;{{prod.product.description}}</td>
										<td class="row_table  ">&nbsp;{{prod.um.code}}</td>
										<td class="row_table half  "><div class=" modify" ng-click="insertProduct(prod.code)"><div class="modifyicon"></div></div></td>
									</tr>
								</tbody>
							</table>
			
		</div>
		</div>
	</div>
	<!--div class="details">
		
		<div class="head_destination" ng-show="selectedSection == listsections[1]" >
		
		
			<div class="credential">
				<div class="detailview"  >
						< div class="add_container_doc" ng-click="addRowElement();setModified()" >
							<div class="add buttonicon">
							</div>
							<div class="add">
								Aggiungi Prodotto [Alt+n]
							</div>
							
						</div>
						<div class="  GECO_table_container ">
							< table class="GECO_table_detail clearfix nine_two " ng-if="isOrder == false && isLoadSerialN == false && isUnloadSerialN == false">
								<thead>
									<tr>
										<td class="tabledetail_header_element tabledetail_row row_table half first ">&nbsp;</td>
										<td class="tabledetail_header_element tabledetail_row row_table "><div class="sorter " ng-click="sortFunction('productcode')"><div class="sorter_">Codice</div><div class="sortericon productcode"></div></div></td>
										<td class="tabledetail_header_element tabledetail_row row_table double"><div class="sorter " ng-click="sortFunction('productdescription')"><div class="sorter_">Descrizione</div><div class="sortericon productdescription"></td>
										<td class="tabledetail_header_element tabledetail_row row_table half" >UM</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Qta</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Prezzo</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Imponibile</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Imposta</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Totale</td>
										
										<td class="tabledetail_header_element tabledetail_row row_table half ">&nbsp;</td>
									</tr>
								</thead>
								<tbody  >
									<tr ng-repeat="row in head.rows | orderBy:'productcode'">
										<td class="row_table half first "><div class=" modify" ng-click="setCurrentRow(row)"><div class="modifyicon"></div></div></td>
										<td class="row_table  " >&nbsp;{{row.productcode}}</td>
										<td class="row_table  double" >&nbsp;{{row.productdescription}}</td>
										<td class="row_table  half">&nbsp;{{row.productum}}</td>
										<td class="row_table  "><div class="contain_input_td"><input type="text" class="inputfield" value="{{row.quantity}}" ng-model="row.quantity"  ng-change="calculateRow(row);setModified()" /></div></td>
										<td class="row_table  ">&nbsp;{{row.price}}</td>
										<td class="row_table  ">&nbsp;{{row.amount}}</td>
										<td class="row_table  ">&nbsp;{{row.taxamount}}</td>
										<td class="row_table  ">&nbsp;{{row.total}}</td>
										<td class="row_table half  "><div class=" delete confirm" ng-click="confirmDelete(row)" ><div class="deleteicon"></div></div></td>
									</tr>
								</tbody>
							</table>
							<table class="GECO_table_detail clearfix ten_two " ng-if="isOrder == true">
								<thead>
									<tr>
										<td class="tabledetail_header_element tabledetail_row row_table half first">&nbsp;</td>
										<td class="tabledetail_header_element tabledetail_row row_table double ">Fornitore</td>
										<td class="tabledetail_header_element tabledetail_row row_table ">Codice</td>
										<td class="tabledetail_header_element tabledetail_row row_table double">Descrizione</td>
										<td class="tabledetail_header_element tabledetail_row row_table half" >UM</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Qta</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Prezzo</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Imponibile</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Imposta</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Totale</td>
										
										<td class="tabledetail_header_element tabledetail_row row_table half ">&nbsp;</td>
									</tr>
								</thead>
								<tbody  >
									<tr ng-repeat="row in head.rows | orderBy:['product.supplier.suppliername','productcode']">
										<td class="row_table half first "><div class=" modify" ng-click="setCurrentRow(row)"><div class="modifyicon"></div></div></td>
										<td class="row_table  double  " >&nbsp;{{row.product.supplier.suppliername}}</td>
										<td class="row_table ">&nbsp;{{row.productcode}}</td>
										<td class="row_table  double" >&nbsp;{{row.productdescription}}</td>
										<td class="row_table  half">&nbsp;{{row.productum}}</td>
										<td class="row_table  "><div class="contain_input_td"><input type="text" class="inputfield" value="{{row.quantity}}" ng-model="row.quantity"  ng-change="calculateRow(row);setModified()" /></div></td>
										<td class="row_table  ">&nbsp;{{row.price}}</td>
										<td class="row_table  ">&nbsp;{{row.amount}}</td>
										<td class="row_table  ">&nbsp;{{row.taxamount}}</td>
										<td class="row_table  ">&nbsp;{{row.total}}</td>
										
										<td class="row_table half  "><div class=" delete confirm" ng-click="confirmDelete(row)" ><div class="deleteicon"></div></div></td>
									</tr>
								</tbody>
							</table>
							<div ng-if="isLoadSerialN == true">
								<div>
									Lotto:
									<input id="forceserial" />
									Scadenza:
									<input id="forceexpiredate" create-datepicker />
									<button ng-click="forceSerialNumbers()">Inserisci lotti generici</button>
								</div>
							</div>	
							<div ng-if="isUnloadSerialN == true">
								<div>
									<button ng-click="forceLoadSerialNumbers()">Inserisci lotti disponibili</button>
								</div>
							</div>	
							<table class="GECO_table_detail clearfix ten_two " ng-if="isLoadSerialN == true || isUnloadSerialN == true">
								<thead>
									<tr>
										<td class="tabledetail_header_element tabledetail_row row_table half first">&nbsp;</td>
										<td class="tabledetail_header_element tabledetail_row row_table ">Codice</td>
										<td class="tabledetail_header_element tabledetail_row row_table double">Descrizione</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Lotto</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Scadenza</td>
										<td class="tabledetail_header_element tabledetail_row row_table half" >UM</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Qta</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Prezzo</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Imponibile</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Imposta</td>
										<td class="tabledetail_header_element tabledetail_row row_table">Totale</td>
										
										<td class="tabledetail_header_element tabledetail_row row_table half ">&nbsp;</td>
									</tr>
								</thead>
								<tbody  >
									<tr ng-repeat="row in head.rows | orderBy:['product.supplier.suppliername','productcode']">
										<td class="row_table half first "><div class=" modify" ng-click="setCurrentRow(row)"><div class="modifyicon"></div></div></td>
										<td class="row_table red_signal " ng-if="row.product.manageserialnumber == true && (row.serialnumber == '' || row.expiredate == '')  " >!!!!!{{row.productcode}}</td>
										<td class="row_table " ng-if="row.product.manageserialnumber == false || (row.product.manageserialnumber == true && row.serialnumber != '' && row.expiredate != '')  " >{{row.productcode}}</td>
										<td class="row_table  double" >&nbsp;{{row.productdescription}}</td>
										<td class="row_table  "><div class="contain_input_td"><input type="text"  class="inputfield" ng-model="row.serialnumber" value="{{row.serialnumber}}" ng-change="setModified()" /></div></td>
										<td class="row_table  "><div class="contain_input_td"><input type="text" class="inputfield"  ng-model="row.expiredate" value="{{row.expiredate}}" create-datepicker ng-change="setModified()" /></div></td>
										<td class="row_table  half">&nbsp;{{row.productum}}</td>
										<td class="row_table  "><div class="contain_input_td"><input type="text" class="inputfield" value="{{row.quantity}}" ng-model="row.quantity"  ng-change="calculateRow(row);setModified()" /></div></td>
										<td class="row_table  ">&nbsp;{{row.price}}</td>
										<td class="row_table  ">&nbsp;{{row.amount}}</td>
										<td class="row_table  ">&nbsp;{{row.taxamount}}</td>
										<td class="row_table  ">&nbsp;{{row.total}}</td>
										
										<td class="row_table half  "><div class=" delete confirm" ng-click="confirmDelete(row)" ><div class="deleteicon"></div></div></td>
									</tr>
								</tbody>
							</table-->
							
						
						<!--/div>
						<table class="GECO_table_detail HEAD_addrow" ng-show="currentRow != null && showNewRow == true">
								
								<tbody>
									< tr>
										<td>
											<div class="button_bar_detail">
												<div class="button_bar_close">
													<button ng-click="showNewRow = false">X</button>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
										<div class="td_col td_thirty">
											<div class=" ">Codice [Alt + v per cercare]*</div>
											<div class="field "><input tabindex="0"  maxlength="20" class="inputfield" id="prod_code" ng-model="currentRow.productcode" value="{{currentRow.productcode}}" ng-blur="getProduct(currentRow.productcode)" ng-change="setModified()" capitalize /></div>
										</div>
										
										
										<div class="td_col td_seventy">
											<div class=" ">Descrizione *</div>
											<div class="detail_field name"><input class="inputfield"  maxlength="150" id="ifname" ng-model="currentRow.productdescription" value="{{currentRow.productdescription}}"  ng-change="setModified()" capitalize /></div>
										</div>
										</td>
									</tr>
									<tr>
										<td>
											<div  ng-show="show_qta">
													<div class="td_col td_ten">
														<div class=" ">Giacenza</div>
														<div class="field ">&nbsp;{{currentRow.product.stockqta}} {{currentRow.productum}}</div>
													</div>
												</div>
											<div class="td_col td_five" ng-show="currentRow.product != null">
												<div class=" " ng-show="show_qta == false" ng-click="show_qta = !show_qta" ><div class="storeicon open"></div></div>
												<div class=" " ng-show="show_qta == true" ng-click="show_qta = !show_qta" ><div class="storeicon close"></div></div>
											</div>
										<div class="td_col td_ten">
											<div class=" ">Quantit&#224; </div>
											<div class="field "><input type="text"  class="inputfield" id="qta" ng-model="currentRow.quantity" value="{{currentRow.quantity}}" ng-change="calculateRow(currentRow,$event)" ng-keydown="addNewRowFromQuantity($event)" /></div>
										</div>
										
										<div class="td_col td_ten">
											<div class=" ">UM *</div>
											<div class="field ">&nbsp;{{currentRow.productum}}</div>
										</div>
										<div class="td_col td_five">
											<div class=" " ng-show="currentRow.product != null" ng-click="show_price = !show_price" ><div class="detailicon open"></div></div>
											<div class="HEAD_overlay " ng-show="show_price">
												<table class="GECO_table two_two clearfix">
													<thead>
														<tr >
															<td class="header_table row_table first" >Data</td>
															<td class="header_table row_table">Prezzo</td>
														</tr>
													</thead>
													<tbody>
														<tr  ng-repeat="history in currentRow.product.pricehistory ">
															<td class="row_table first">{{history.date}}</td>
															<td class="row_table"> {{history.price}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="td_col td_thirty">
											<div class=" ">Prezzo * </div>
											<div class="field " ng-show="showprice == false">{{currentRow.price}} <button ng-click="showprice = true">Modifica</button></div>
											<div class="field " ><input  type="text" step="0.001" min="0"  class="inputfield" id="ifname" ng-model="currentRow.price" value="{{currentRow.price}}"  ng-change="calculateRow();setModified()"  /></div>
										</div>
										<div class="td_col td_twenty">
											<div class=" ">Aliquota *</div>
											<div class="field ">{{currentRow.taxrate.value}}</div>
										</div>
										<div class="td_col td_ten">
											<div class=" ">Causale *</div>
											<div class="field "><select ng-model="currentRow.type" value="{{currentRow.type}}"  ng-change="calculateRow();setModified()"  ><option>V</option><option>S</option><option>O</option> </select></div>
										</div>
										</td>
									</tr>
									<tr ng-if="currentRow.product.manageserialnumber == true">
										<td ng-show="currentDocument.storemovement.genericLoad == true || currentDocument.storemovement.supplierLoad == true || currentDocument.storemovement.internalLoad == true || currentDocument.storemovement.comebackLoad == true">
											<div class="td_col td_thirty">
												<div class=" ">Lotto *</div>
												<div class="field "><input class="inputfield" id="ifname" ng-model="currentRow.serialnumber" value="{{currentRow.serialnumber}}" ng-change="setModified()"  /></div>
											</div>
											<div class="td_col td_thirty">
												<div class=" ">Scadenza *</div>
												<div class="field "><input class="inputfield" id="ifname" ng-model="currentRow.expiredate" value="{{currentRow.expiredate}}" ng-change="setModified()" create-datepicker  /></div>
											</div>
										</td>
										<td ng-show="currentDocument.storemovement.genericUnload == true || currentDocument.storemovement.customerUnload == true  || currentDocument.storemovement.internalUnload == true   || currentDocument.storemovement.expiredUnload == true">
											<div class="fields code">
												<div class=" ">Lotto </div>
												<div class="field">
													<select id="sc" class="inputfield" ng-model="currentRow.serialnumber"    ng-options="sc as sc.serialcode for sc in currentRow.product.storage.storagesc" ng-change="setModified()"  ></select>
												</div>
											</div>
											<div>Lotto </div>
										</td>
									</tr>
									<tr>
										<td>
										<div class="td_col td_thirty">
											<div class=" ">Importo *</div>
											<div class="field ">{{currentRow.amount}}</div>
										</div>
										<div class="td_col td_thirty">
											<div class=" ">Imposta *</div>
											<div class="field ">{{currentRow.taxamount}}</div>
										</div>
										<div class="td_col td_thirty">
											<div class=" ">Totale *</div>
											<div class="field ">{{currentRow.total}}</div>
										</div>
										</td>
									</tr>
								</tbody>
							</table>
							
						
					</div>
			</div>
		</div-->
		<div class="HEAD_total_container" ng-show="selectedSection == listsections[2]">
					<div class="HEAD_Total_group">
							<table class="GECO_table_detail two_two">
									<thead>
										<tr>
											<th class="tabledetail_header_element tabledetail_row row_table double first ">Imponibile </th>
											<th class="tabledetail_header_element tabledetail_row row_table amount "> </th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td class="row_table first double total">Tot.Imponibile</td>
											<td class="row_table amount total" >{{head.amount}}</td>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td class="row_table first double">Imponibile 4</td>
											<td class="row_table amount" >{{head.amount4}}</td>
										</tr>
										<tr>
											<td class="row_table first double">Imponibile 10</td>
											<td class="row_table amount" >{{head.amount10}}</td>
										</tr>
										<tr>
											<td class="row_table first double ">Imponibile 20</td>
											<td class="row_table amount" >{{head.amount20}}</td>
										</tr>
									</tbody>
							</table>
					</div>
					<div class="HEAD_Total_group">
							<table class="GECO_table_detail two_two">
									<thead>
										<tr>
											<th class="tabledetail_header_element tabledetail_row row_table first double">Imposta </th>
											<th class="tabledetail_header_element tabledetail_row row_table amount "> </th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td class="row_table first total double">Tot.Imposta</td>
											<td class="row_table amount total" >{{head.taxamount}}</td>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td class="row_table first double">Imposta 4</td>
											<td class="row_table amount" >{{head.taxamount4}}</td>
										</tr>
										<tr>
											<td class="row_table first double">Imposta 10</td>
											<td class="row_table amount" >{{head.taxamount10}}</td>
										</tr>
										<tr>
											<td class="row_table first double">Imposta 20</td>
											<td class="row_table amount" >{{head.taxamount20}}</td>
										</tr>
									</tbody>
							</table>
					</div>
					<div class="HEAD_Total_group">
							<table class="GECO_table_detail two_two">
									<thead>
										<tr>
											<th class="tabledetail_header_element tabledetail_row row_table first double">Totale </th>
											<th class="tabledetail_header_element tabledetail_row row_table amount "> </th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td class="row_table first total double">Totale Doc.</td>
											<td class="row_table amount total" >{{head.total}}</td>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td class="row_table first double">Totale 4</td>
											<td class="row_table amount" >{{head.total4}}</td>
										</tr>
										<tr>
											<td class="row_table first double ">Totale 10</td>
											<td class="row_table amount" >{{head.total10}}</td>
										</tr>
										<tr>
											<td class="row_table first double">Totale 20</td>
											<td class="row_table amount" >{{head.total20}}</td>
										</tr>
									</tbody>
							</table>
					</div>
					<div class="category_group">
							Note:
							<textarea ng-model="head.note" value="{{head.note}}" ng-change="setModified()" >
							</textarea >
					</div>
					
		</div>
	</div>
