<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			DOCUMENTI
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control" ng-click="location.path('/head/0')" >Aggiungi Documento </button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control" ng-click="printElements()" >Stampa Elenco </button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control" ng-click="printMassElements()" >Stampa Singola </button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control" ng-click="openFilter()" >Filtra </button>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary form-control"  ng-click="createConad()" >Tracciato CONAD </button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12"></div>
	</div>
	<div class="row" ng-show="showFilter == true">
		<div class="col-md-6">
			<form role="form">
  				<div class="form-group">
  					<label  for="fromDate">Da Data</label>
  					<input class="datepicker form-control" type="text" id="fromDate" ng-model="headfilter.fromDate" value="{{headfilter.fromDate}}"  create-datepicker />
  				</div>
  				<div class="form-group">
  					<label  for="customer">Cliente</label>
  					<select id="customer" class="form-control" ng-model="currentCustomer"    ng-options="customer as customer.customername for customer in customers"  ng-change="headfilter.customer = currentCustomer">
						<option value=""></option>
					</select>
  				</div>
  				<div class="form-group">
  					<label  for="documenttype">Tipo documento</label>
  					<select id="documenttype" class="form-control" ng-model="currentDocument"    ng-options="document as document.description for document in documents" ng-change="headfilter.doc = currentDocument"    > <option value=""></option></select>
  				</div>
  				<div class="form-group">
  					<label  for="active">Attivi</label>
  					<input  type="checkbox"  id="active" class="form-control" ng-model="headfilter.active" value="{{headfilter.active}}" ></input>
  				</div>
  			</form>
  		</div>
		<div class="col-md-6">
			<form role="form">
  				<div class="form-group">
  					<label  for="toDate">A data</label>
  					<input class="form-control " type="text" id="toDate" ng-model="headfilter.toDate" value="{{headfilter.toDate}}"  create-datepicker />
  				</div>
  				<div class="form-group">
  					<label  for="selsupplier">Fornitore</label>
  					<select id="selsupplier" class="form-control" ng-model="currentSupplier"    ng-options="supplier as supplier.suppliername for supplier in suppliers" ng-data-provider="suppliers" ng-change="headfilter.supplier = currentSupplier" ><option value=""></option></select>
  				</div>
  				<div class="form-group">
  					<label  for="number">Numero</label>
  					<input id="number" type="text" class="form-control" ng-model="headfilter.number" value="{{headfilter.number}}" ></input>
  				</div>
  				<div class="form-group">
  					<label  for="checkboxact">Annullati</label>
  					<input id="checkboxact" type="checkbox" class="form-control" ng-model="headfilter.inactive" value="{{headfilter.inactive}}" ></input>
  				</div>
  			</form>
  		</div>
  			
	</div>
	<div class="row">
		<div class="col-md-6">
			<pagination total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="pagesize"></pagination>
		</div>
		<div class="col-md-2">
			<label>Righe per pagina:</label>
		</div>
		<div class="col-md-2">
			<input class="filter" ng-model="pagesize" value="{{pagesize}}">
		</div>
		<div class="col-md-2">
			<button ng-click="getHeadsNumber()" >Filtra</button>
		</div>
	</div>

	
	<div class="row" >

		<div class="col-lg-12">
		<table st-table="headsToDisplay" class="table table-striped" st-safe-src="heads">
			<thead>
				<tr>
					<th ></th>
					<th ><input type="checkbox" ng-click="addRemoveHeads()" class="checkbox_all" /></th>
					<th></th>
					<th ></th>
					<th st-sort="number" st-sort-default="reverse" st-skip-natural="true" >N.</th>
					<th st-sort="getters.date" st-skip-natural="true" >Data</th>
					<th st-sort="document.code" st-skip-natural="true">Tipologia</th>
					<th st-sort="supplier.suppliername" ng-show="headfilter.isSupplier == true" st-skip-natural="true" >Fornitore</td>
					<th  st-sort="customer.customername" st-skip-natural="true">Cliente</th>
					<th st-sort="destination.destinationname" ng-show="headfilter.isCustomer == true" st-skip-natural="true">Destinazione</th>
					<th st-sort="amount" st-skip-natural="true">Imponibile</th>
					<th st-sort="taxamount" st-skip-natural="true">Imposta</th>
					<th st-sort="total" st-skip-natural="true">Totali</th>
					<th ></th>
					
				</tr>
				<tr>
					<th colspan="13"><input st-search="" class="form-control" placeholder="Ricerca Globale ..." type="text"/></th>
					
				</tr>
			<thead>
			<tfoot>
				<tr>
					<td></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ng-show="headfilter.isSupplier == true" ></td>
					<td  ></td>
					<td ng-show="headfilter.isCustomer == true" ></td>
					<td >{{headamount}}</td>
					<td >{{headtaxamount}}</td>
					<td >{{headtotal}}</td>
					<td ></td>
				</tr>				
			<tfoot>
			<tbody>
				<tr ng-repeat="head in headsToDisplay " st-select-row="head" >
				<td  ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{$index+1}}</td>
					<td  ng-class="{'disabled': head.disable == true || head.disable == 'true'}"><input type="checkbox" ng-click="addRemoveHeadId(head.idHead)" class="checkbox_single" /></td>
					<td  ng-class="{'disabled': head.disable == true || head.disable == 'true'}">
						<a ng-show="headfilter.isOrder == true"   href="#/head/{{head.idHead}}/1">
							<div class=" modify"  >
								<div  class="favoriteicon"></div>
							</div>
						</a> 
						<a ng-show="head.incomplete == true && head.document.supplier == true" href="#/head/{{head.idHead}}/2" >
							<div class=" modify"     >
								<div  class="incompleteicon"></div>
							</div>
						</a> 
						<a ng-show="head.incomplete == true && head.document.customer == true" href="#/head/{{head.idHead}}/3" >
							<div class=" modify"     >
								<div  class="incompleteicon"></div>
							</div>
						</a>
					</td>
					<td ng-class="{'disabled': head.disable == true || head.disable == 'true'}"><a href="#/head/{{head.idHead}}" ><div class=" modify"><div class="modifyicon"></div></div></a></td>
					<td ng-class="{'disabled': head.disable == true || head.disable == 'true'}" >{{head.number}}</td>
					<td ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{ head.date }} </td>
					<td ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{head.document.code}}</td>
					<td ng-show="headfilter.isSupplier == true"  ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{head.supplier.suppliername}}</td>
					<td   ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{head.customer.customername}}</td>
					<td ng-show="headfilter.isCustomer == true"  ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{head.destination.destinationname}}</td>
					<td  ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{head.amount}}</td>
					<td  ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{head.taxamount}}</td>
					<td  ng-class="{'disabled': head.disable == true || head.disable == 'true'}">{{head.total}}</td>
					<td ng-class="{'disabled': head.disable == true || head.disable == 'true'}"><div class="deleteicon confirm" id="del{{head.idHead}}"  ng-click="confirmDeleteHead(head)"></div></td>
					
				</tr>
			<tbody>
			
			</table>
			</div>
	</div>
</div>
